@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #0f172a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #020617;
    --foreground: #e2e8f0;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

@utility container-custom {
  max-width: 64rem;
  /* max-w-5xl */
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  /* px-4 */
  padding-right: 1rem;
}

@media (min-width: 640px) {
  .container-custom {
    padding-left: 1.5rem;
    /* sm:px-6 */
    padding-right: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .container-custom {
    padding-left: 2rem;
    /* lg:px-8 */
    padding-right: 2rem;
  }
}